@use "./global/index" as g;

.current-type {
  width: fit-content;
  font: {
    family: g.$fontOswald;
    size: 1.4rem;
    weight: 400;
  }
  line-height: g.lineHeight(14, 20);
  margin: 0 0 8px;
  border-bottom: 4px solid g.$colFC540C;
}
.page-title {
  font: {
    family: g.$fontOptima;
    size: 2.8rem;
  }
  margin: 0 0 11px;
}

.quality {
  display: flex;
  gap: 10px;
  font: {
    family: g.$fontGillSans;
    weight: 300;
    size: 1.8rem;
  }
  line-height: g.lineHeight(18, 20.45);
  margin: 0 0 11px;
  &__star {
    color: g.$col91951E;
  }
  &__num {
    color: g.$col000;
  }
}

.facility-name {
  font: {
    family: g.$fontOswald;
    size: 1.8rem;
    weight: 400;
  }
  color: g.$col575757;
  margin: 0 0 15px;
}

.data-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0 0 52px;
  &__data {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    &__item {
      display: flex;
      gap: 6px;
      .heading {
        font: {
          family: g.$fontOswald;
          size: 1.4rem;
          weight: 400;
        }
      }

      .content {
        font: {
          family: g.$fontOswald;
          size: 1.4rem;
          weight: 400;
        }
        line-height: 20px;
        padding: 0 10px;
        border-radius: 12px;
        background-color: g.$colD9D9D9;
      }
    }
  }

  &__id {
    font: {
      family: g.$fontOswald;
      size: 1.4rem;
      weight: 400;
    }
    color: g.$col575757;
  }
}

.data-list {
  margin: 0 0 13px;
  border-top: 1px solid g.$colE0E0E0;

  &__item {
    display: grid;
    gap: 42px;
    grid-template-columns: 1fr 4fr;
    padding: 17px 0 20px;
    border-bottom: 1px solid g.$colE0E0E0;
    .heading {
      flex-basis: 13%;
      font: {
        family: g.$fontOswald;
        size: 1.4rem;
        weight: 400;
      }
    }
    .content {
      flex-basis: 87%;
      font: {
        family: g.$fontGillSans;
        size: 1.8rem;
        weight: 300;
      }
      line-height: g.lineHeight(18, 20);

      .id {
        font: {
          family: g.$fontOswald;
          size: 1.4rem;
          weight: 400;
        }
        margin: 0 0 3px;
      }
      .null {
        font: {
          family: g.$fontOswald;
          size: 1.8rem;
          weight: 300;
        }
      }
    }
  }
}

.date {
  &__item {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    font: {
      family: g.$fontOswald;
      size: 1.4rem;
      weight: 300;
    }
    color: g.$col8C8C8C;
    margin: 0 0 5px;
    .heading {
      font-weight: 300;
    }
  }
}

.data-section {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin: 53px 0 72px;
  &__box {
    display: flex;
    gap: 23px;

    &__inner {
      width: 100%;
    }

    &__heading {
      min-width: 130px;
      font: {
        family: g.$fontOswald;
        weight: 400;
        size: 2rem;
      }
      color: g.$col575757;
      line-height: g.lineHeight(20, 29.64);
      padding: 11px 15px;
      text-align: center;
      background-color: g.$colF2F2EF;
    }

    &__item {
      display: grid;
      gap: 42px;
      grid-template-columns: 1fr 4fr;
      padding: 13px 0 18px;
      border-bottom: 1px solid g.$colE0E0E0;
      &__label {
        font: {
          family: g.$fontOswald;
          size: 1.4rem;
        }
        color: g.$col575757;
      }
      &__content {
        font: {
          family: g.$fontGillSans;
          weight: 300;
          size: 1.8rem;
        }
        line-height: g.lineHeight(18, 20.45);
      }
    }

    th {
      text-align: center;
    }

    th, td{
      padding: 10px 15px;
      border-bottom: 1px solid g.$colE0E0E0;
    }
  }
}

.chart {
  &__navigation {
    position: relative;
    display: flex;
    gap: 50px;
    margin: 43px 0 54px;
    &::after {
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 1px;
      content: "";
      margin: 0 calc(50% - 50vw);
      background-color: g.$col9F9F9F;
    }
    &__link {
      font: {
        family: g.$fontOptima;
        size: 1.8rem;
      }
      color: g.$col575757;
      line-height: g.lineHeight(18, 22);
      padding: 0 0 9px;
      border-bottom: 4px solid transparent;
      &.current {
        font-weight: 700;
        color: g.$col000;
        border-color: g.$colFC540C;
      }
    }
  }

  &__title {
    font: {
      family: g.$fontOptima;
      size: 1.8rem;
      weight: 700;
    }
    color: g.$col000;
    line-height: g.lineHeight(18, 22);
    margin: 0 0 31px;
  }

  &__description {
    font: {
      family: g.$fontGillSans;
      size: 1.8rem;
      weight: 300;
    }
    line-height: g.lineHeight(18, 22);
    margin: 0 0 46px;
  }
}
