@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Marcellus&family=Oswald:wght@300;400&display=swap');

/*--
  colors
--*/
$col91951E: #91951E;
$colD9E016: #D9E016;
$col464006: #464006;
$colFC540C: #FC540C;
$colB9A0A0: #B9A0A0;
$colF2F2EF: #F2F2EF;
$colF5F5F5: #F5F5F5;
$colE0E0E0: #E0E0E0;
$colD9D9D9: #D9D9D9;
$colC5C5C5: #C5C5C5;
$col9F9F9F: #9F9F9F;
$col8C8C8C: #8C8C8C;
$col8F8E8E: #8F8E8E;
$col575757: #575757;


$colFFF:    #FFF;
$col000:    #000;

/*--
  font family
--*/
$fontOptima: 'Marcellus', serif;
$fontOswald: 'Oswald', sans-serif;
$fontLucidaGrande: 'Lucida Grande', sans-serif;
$fontGillSans: 'Lato', sans-serif;

/*--
  break points
  -- mobile first
--*/
$breakpoints: (
        'over': 'screen and (min-width: 1441px)',
        'pc': 'screen and (min-width: 1025px) and (max-width: 1200px)',
        'pcMin': 'screen and (min-width: 1025px) and (max-width: 1439px)',
        'ts': 'screen and (max-width: 1024px)',
        'tb': 'screen and (min-width: 769px) and (max-width: 1024px)',
        'sp': 'screen and (max-width: 768px)',
) !default;
