@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Marcellus&family=Oswald:wght@300;400&display=swap");
/*--
  colors
--*/
/*--
  font family
--*/
/*--
  break points
  -- mobile first
--*/
/*--
  media queries
--*/
/**
 * letter-spacing
 *
 * @param $av
 */
/**
 * line-height
 *
 * @param $fs
 * @param $lh
 */
.g-switch {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.g-switch + .g-switch__button {
  position: relative;
  display: block;
  width: 55px;
  height: 30px;
  cursor: pointer;
  padding: 3px;
  border-radius: 15px;
  background-color: #8F8E8E;
}

.g-switch + .g-switch__button::after {
  display: block;
  width: 24px;
  height: 24px;
  content: "";
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  background-color: #FFF;
}

.g-switch:checked + .g-switch__button {
  background-color: #D9E016;
}

.g-switch:checked + .g-switch__button::after {
  margin: 0 0 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  color: #222;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

a:not(.g-not-action) {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

a:not(.g-not-action):hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
}

.header {
  position: relative;
  padding: 11px 13px;
  text-align: left;
  z-index: 20;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: #D9E016;
}

.header__title__logo {
  width: 290px;
  height: auto;
}

.footer {
  padding: 177px 0 35px;
}

.footer__logo {
  display: block;
  width: 200px;
  height: auto;
  margin-inline: auto;
}

.footer__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 28px 0 30px;
  gap: 30px;
}

.footer__navigation__link {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
}

.footer__copyright {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.side-menu {
  position: absolute;
  top: 80px;
  left: 0;
}

.side-menu.open {
  display: grid;
  grid-template-columns: 320px 50px 1fr;
  width: 100%;
  height: calc(100% - 80px);
  z-index: 10;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.73);
}

.side-menu.open .side-menu__switch {
  grid-column: 2/3;
}

.side-menu.open .side-menu__navigation {
  display: block;
}

.side-menu__keyword {
  padding: 33px 20px 32px;
  border-bottom: 1px solid #8F8E8E;
}

.side-menu__keyword__input {
  width: 100%;
  height: 36px;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0 35px 0 20px;
  margin: 0 0 0 auto;
  border-radius: 30px;
  border: 1px solid #9F9F9F;
  background-color: #FFF;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path d="M6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5C13 8.11 12.41 9.59 11.44 10.73L11.71 11H12.5L17.5 16L16 17.5L11 12.5V11.71L10.73 11.44C9.59 12.41 8.11 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2Z" fill="%239F9F9F" /></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 9px) center;
  background-size: 17px auto;
}

.side-menu__keyword__input::placeholder {
  color: #9F9F9F;
}

.side-menu__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 17px 16px;
  background-color: #000;
}

.side-menu__navigation {
  display: none;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #9F9F9F;
}

.side-menu__select-panel {
  display: flex;
}

.side-menu__select-panel__button {
  flex-basis: 50%;
  font-family: "Marcellus", serif;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 26px 0 22px;
  text-align: center;
  border-bottom: 4px solid transparent;
  background-color: #D9D9D9;
}

.side-menu__select-panel__button.current {
  border-color: #FC540C;
  background-color: #9F9F9F;
}

.side-menu__links__section {
  font-family: "Lato", sans-serif;
  padding: 20px 21px 21px;
}

.side-menu__links__section:not(:last-of-type) {
  border-bottom: 1px solid #8F8E8E;
}

.side-menu__links__section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 10px;
}

.side-menu__links__heading {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #464006;
  line-height: 1.1666666667;
  margin: 0 0 10px;
}

.side-menu__links__item {
  display: block;
  font-size: 1.6rem;
  cursor: pointer;
  line-height: 1.625;
  padding: 0 0 0 54px;
  margin: 0 -21px;
}

.side-menu__links__item.current {
  font-weight: 700;
  background-color: #B9A0A0;
}

.side-menu__links__input {
  width: 100%;
  height: 36px;
  padding: 0 18px;
  border-radius: 30px;
  background-color: #FFF;
}

.side-menu__links__input:disabled {
  background-color: #D9D9D9;
}

.side-menu__links__range-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.side-menu__links__range {
  width: calc(100% - 54px);
  height: 1px;
  background-color: #FFF;
}

.side-menu__links__range::before, .side-menu__links__range::after {
  display: block;
  width: 1px;
  height: 11px;
  content: "";
  margin: -5px 0 0;
  background-color: #FFF;
}

.side-menu__links__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  inline-size: 11px;
  cursor: pointer;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #FFF;
  background-color: #D9E016;
}

.side-menu__links__range:disabled::-webkit-slider-thumb {
  cursor: auto;
  border-color: #C5C5C5;
  background-color: #D9D9D9;
}

.side-menu__links__range__value {
  -moz-appearance: textfield;
  width: 44px;
  height: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #575757;
  text-align: center;
  border-radius: 12px;
  background-color: #D9D9D9;
}

.side-menu__links__range__value::-webkit-outer-spin-button, .side-menu__links__range__value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.side-menu__links__range__value:disabled {
  color: #8F8E8E;
}

.side-menu__submit {
  display: block;
  width: calc(100% - 42px);
  height: 50px;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  color: #FFF;
  margin-inline: auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: #575757;
}

.app-main {
  max-width: 640px;
  min-height: calc(100vh - 209px);
  padding: 80px 0;
  margin: 0 auto;
  background: #FFF;
}

/*# sourceMappingURL=base.css.map */
