@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Marcellus&family=Oswald:wght@300;400&display=swap");
/*--
  colors
--*/
/*--
  font family
--*/
/*--
  break points
  -- mobile first
--*/
/*--
  media queries
--*/
/**
 * letter-spacing
 *
 * @param $av
 */
/**
 * line-height
 *
 * @param $fs
 * @param $lh
 */
.g-switch {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.g-switch + .g-switch__button {
  position: relative;
  display: block;
  width: 55px;
  height: 30px;
  cursor: pointer;
  padding: 3px;
  border-radius: 15px;
  background-color: #8F8E8E;
}
.g-switch + .g-switch__button::after {
  display: block;
  width: 24px;
  height: 24px;
  content: "";
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  background-color: #FFF;
}
.g-switch:checked + .g-switch__button {
  background-color: #D9E016;
}
.g-switch:checked + .g-switch__button::after {
  margin: 0 0 0 auto;
}

.g-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.g-checkbox + label {
  position: relative;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  color: #575757;
  padding: 0 0 0 35px;
}
.g-checkbox + label::before, .g-checkbox + label::after {
  position: absolute;
  content: "";
}
.g-checkbox + label::before {
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #9F9F9F;
  background-color: #FFF;
}
.g-checkbox + label::after {
  top: 4px;
  left: 4px;
  opacity: 0;
  width: 17px;
  height: 17px;
  transition: opacity 0.3s ease-in-out;
  border-radius: 3px;
  background-color: #D9E016;
}
.g-checkbox:checked + label::after {
  opacity: 1;
}
.g-checkbox.border + label::before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 13 2"><path fill="%239F9F9F" d="M.5,1A.5.5,0,0,1,1,.5H12a.5.5,0,0,1,0,1H1A.5.5,0,0,1,.5,1Z" /></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 2px;
}
.g-checkbox.border + label:checked + label::before {
  background-image: unset;
}

.documents h1 {
  font-family: "Marcellus", serif;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 77.57px;
  padding: 0 0 15px;
  margin: 0 0 97px;
  border-bottom: 1px solid #000;
}
.documents h2 {
  font-family: "Lato", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 36.75px;
  margin: 51px 0;
}
.documents h3 {
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 27.56px;
  margin: 30px 0;
}
.documents p {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 20.67px;
}

.markdown-body {
  white-space: pre-wrap;
}
.markdown-body h1 {
  font-weight: bold;
  margin: 15px 0;
}
.markdown-body h2 {
  font-weight: bold;
  margin: 10px 0;
}
.markdown-body h3 {
  font-weight: bold;
  margin: 5px 0;
}
.markdown-body a {
  color: blue;
  text-decoration: underline;
}
.markdown-body ul {
  list-style-type: disc; /* ノーマルな丸い箇条書き */
  padding-left: 30px;
}
.markdown-body ul ul {
  list-style-type: disc; /* ノーマルな丸い箇条書き */
  padding-left: 30px;
}
.markdown-body ol {
  list-style-type: decimal; /* 数字の箇条書き */
  padding-left: 30px;
}

/*# sourceMappingURL=document.css.map */
